@import "./layouts/home";
@import "./layouts/getaway";
@import "./layouts/templates";
@import "./layouts/pricing";

@import "./components/navbar";
$mainblue: "#1b2845";
$lightblue: #77d2d2;
// $darkback:#0c171b; 
$darkback:#04090a; 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica Neue;
    background-color: $darkback ;
}

html {
    scroll-behavior: smooth;
  }






