.templates {
   color: white;
    width: 100%;
    padding: 6em 4vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: start;
    h1 {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid white;
        margin-bottom: 5rem;
       width:94vw;
    }
  
   p{
       margin-bottom: 5rem;
     
   }
    .templates-area {
        display: flex;
        flex-direction: column;
        
        .templ-image-cont {
            display: grid;
            place-content: center;
          
           
            width:15rem;
            margin: auto;
            aspect-ratio: 1/1;
          
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .templ-text-cont{
            display: flex;
           
            flex-direction: column;
            width: 94vw;
            margin: auto;
            p {
                padding-top: 1rem;
                border-top: 1px solid white;
               
            }
            .templ-text-main {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    width: 90%;
                    margin: auto;
                    margin-bottom: 3rem;
                }
        
                
                ul li {
                    list-style: none;
                }
            }

        }

    }

    
}

.templ-text {
    font-size: 1.3rem;
    span {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.352);
    }
}

.bottom-img {
    padding-block: 3rem;
}